@font-face 
    font-family: 'Maza'
    src: url('../assets/fonts/Maza/Maza.ttf') format('truetype')
    font-weight: normal
    font-style: normal

* 
    box-sizing: border-box
    margin: 0
    padding: 0

input, button
    all: unset

html 
    height: 100%
    scroll-behavior: smooth

body 
    height: 100%

header
    font-family: 'Maza', sans-serif

    .promotion
        padding: 8px 40px
        background-color: #F4F4F4
        color: #343A3F
        display: flex
        justify-content: space-between
        align-items: center

        &__contacts
            display: flex
            justify-content: center
            align-items: center
            gap: 12px

            &__location, &__phone       
                display: flex
                justify-content: center
                align-items: center 

            &__location
                gap: 6.65px

            &__phone
                gap: 12px
        
        &__schedule
            display: flex
            justify-content: center
            align-items: center
            gap: 11px

        &__services
            display: flex
            justify-content: center
            align-items: center
            gap: 16px

            &__item
                @media (any-hover: hover)
                    transition: all 0.3s ease 0s
                    &:hover
                        color: #4888FF
                        cursor: default

    .menu
        background-color: #fff
        color: #343A3F
        padding: 16px 40px 24px 40px
        display: flex
        justify-content: space-between
        align-items: center
        gap: 35px

        &__icon
            padding: 21.75px
            border-radius: 50%
            background-color: #4888FF

        &__elements
            display: flex
            flex-direction: column

            &__top
                display: flex
                justify-content: space-between
                align-items: center

                &__btn
                    padding: 16px
                    border-radius: 8px
                    background-color: #4888FF
                    margin-right: 16px

                &__input
                    position: relative
                    margin-right: 24px

                    input
                        padding: 14px 24px
                        font-size: 16px
                        min-width: 645px
                        border-radius: 8px
                        border: 1px solid rgba(72, 136, 255, 0.2)

                    &__search-btn
                        padding: 11px 20px
                        background-color: #4888FF
                        color: #fff
                        font-size: 14px
                        border-radius: 4px
                        position: absolute
                        right: 4px
                        top: 4px

                        @media (any-hover: hover)
                            transition: all 0.3s ease 0s

                            &:hover
                                background-color: #4888ffa9


                &__social-icons
                    display: flex
                    justify-content: center
                    align-items: center
                    gap: 10px
                    margin-right: 35px

                    &__item
                        padding: 14px 12px
                        background-color: #F4F4F4
                        border-radius: 4px
                        height: 48px

                        @media (any-hover: hover)
                            transition: all 0.3s ease 0s

                            &:hover
                                background-color: #D4D9DD

                                svg path
                                    stroke: #4888FF

                &__languages
                    display: flex
                    justify-content: center
                    align-items: center
                    margin-right: 55px

                    img
                        margin-right: 6px

                    .delimiter
                        width: 1px
                        height: 12px
                        background-color: #343A3F 
                        margin: 0 4px

                    &__item
                        height: 20px

                    &__item:nth-child(4)
                        color: rgba(52, 58, 63, 0.2)

                &__actions
                    &__item
                        border: 1px solud #D3D3D3
                        border-radius: 4px
                        padding: 14.8px 13px

                        @media (any-hover: hover)
                            transition: all 0.3s ease 0s

                            &:hover
                                svg
                                    fill: #fff

main 
    font-family: 'Tenor Sans', sans-serif

    .banner
        color: #fff
        background: linear-gradient(90deg, #672870, #4FE0FF)
        display: flex
        justify-content: space-between
        align-items: center

        &__text
            display: flex
            flex-direction: column
            justify-content: space-between
            align-items: flex-start
            gap: 26px
            padding: 0 45px 0 100px

            &__heading
                font-size: 32px
                line-height: 36px
                max-width: 729px

            &__info
                font-size: 18px
                line-height: 24px
                max-width: 640px

            &__btn
                font-family: 'Maza', sans-serif
                color: #672870
                background-color: #fff
                text-decoration: none
                text-align: center
                padding: 16px 40px
                border-radius: 8px

                @media (any-hover: hover)
                    transition: all 0.3s ease 0s

                    &:hover
                        background-color: #ffffffbd 
                        box-shadow: 4px 4px 18px 16px rgba(34, 60, 80, 0.4)
